* {
    border: none;
    border-radius: 10px;
    min-height: 20px;
    margin: 1px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 0px;
}

#waybar {
    background: rgba(0, 0, 0, 0.7); 
    font-family: "JetBrains Mono,  Symbols Nerd Font, FontAwesome";
    font-size: 14px;
    border: 2px ridge #7e386a;
}

tooltip {
    background: #000000;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 10px;
    border: 2px ridge #7e386a;
}

#battery{
    font-weight: normal;
    font-size: 20px;
    color: #a6d189;
    background:  rgba(23, 23, 23, 0.0);
    padding-left: 3px;
    padding-right: 3px;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#custom-player {
    font-weight: normal;
    font-size: 17px;
    color: #993564;
    padding-left: 3px;
    padding-right: 3px;
}

#cpu{
    font-weight: normal;
    font-size: 21px;
    color: #915CAF;
    padding-left: 3px;
    padding-right: 3px;
}

#memory{
    font-weight: normal;
    font-size: 21px;
    color: #E4C9AF;
    padding-left: 3px;
    padding-right: 3px;
}

#custom-temperature {
    font-weight: normal;
    font-size: 18px;
    color: #bd6e2b;
    padding-left: 9px;
    padding-right: 9px;
}

#idle_inhibitor{
    font-size: 16px;
    color: #24966e;
    padding-left: 9px;
    padding-right: 9px;
}

#custom-powermenu {
    font-size: 22px;
    color: #E34234;
    padding-left: 9px;
    padding-right: 9px;
}

#workspaces{
    background: rgba(23, 23, 23, 0.0);
    color: #888789;
    box-shadow: none;
    text-shadow: none;
    border-radius: 10px;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
}

#workspaces button {
    background: rgba(23, 23, 23, 0.0);
    color: #80074a;
    box-shadow: none;
    text-shadow: none;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button.focused {
    color: #386789;
    border: 2px solid #7e386a;;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: 0 0 5px #7e386a;
}

#workspaces button:hover {
    background: none;
    color: #c2d3be;
}

#tray menu * {
    min-height: 12px;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}

#tray menu separator {
    min-height: 10px
}

#network{
    color: #A1BDCE;
    font-weight: normal;
    font-size: 19px;
    padding-right: 3px;
    padding-left: 3px
}

#pulseaudio{
    font-weight: normal;
    font-size: 19px;
    color: #40972f;
    padding-left: 3px;
    padding-right: 3px;
}

#backlight{
    color: #2096C0;
    font-weight: normal;
    font-size: 19px;
    padding-left: 3px;
    padding-right: 3px;
}

#clock{
    color: #c79acb;
    font-size: 14px;
    font-weight: 600;
    font-family: "JetBrains Mono Nerd Font";
    padding-left: 3px;
    padding-right: 3px;
    border: none;
}

#custom-menu{
    color: #E8EDF0;
    background:  rgba(23, 23, 23, 0.0);
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
    opacity: 1;
}
